Complete_Assignments/Week 1/CreateVariables.1.js
Complete_Assignments/Week 1/CreateVariables.1.zip
Complete_Assignments/Week 1/CreateVariables.zip
Complete_Assignments/Week 1/Email_Snapshot.png
Complete_Assignments/Week 1/Miller_Ky_code.js
Complete_Assignments/Week 1/Miller_Ky_code.zip
Complete_Assignments/Week 1/Miller_Ky_JS_CreateVariables.js
Complete_Assignments/Week 1/Miller_Ky_JS_CreateVariables.zip
Complete_Assignments/Week 1/Miller_Ky_JSPredict.js
Complete_Assignments/Week 1/Miller_Ky_JSPredict.zip
Complete_Assignments/Week 1/Miller_Ky_Paramaters.js
Complete_Assignments/Week 1/Miller_Ky_Paramaters.zip
Complete_Assignments/Week 1/Miller_Ky_Tdiagrams_returns.png
Complete_Assignments/Week 1/Miller_Ky_Tdiagrams_returns.zip
Complete_Assignments/Week 1/Miller_KY_VS_Assignment_1.html
Complete_Assignments/Week 1/Miller_KY_VS_Assignment_1.zip
Complete_Assignments/Week 1/Miller_Ky_VS_Extension.js
Complete_Assignments/Week 1/Miller_Ky_VS_Extension.zip
Complete_Assignments/Miller_Ky_HowMuchCake.js
Complete_Assignments/Miller_Ky_HowMuchCake.zip
Practice Assignments/code.js
Practice Assignments/code.zip
Practice Assignments/Miller_Ky_LoopDLoop.js
Practice Assignments/Miller_Ky_LoopDLoop.zip
Practice Assignments/script.js
